body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-button {
  font-size: 30px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat-container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user, .user2, .assistant, .admin {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.user {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.user2 {
  background-color: #d1dae7;
  align-self: flex-end;
}

.assistant {
  background-color: #f8d7da;
  align-self: flex-start;
}

.admin {
  background-color: #ff89ff98;
  align-self: flex-end;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
}

.pageshift {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #bdbdbd;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px; 
}

.pageshift:hover {
  background-color: #474747;
}

#newsContainer {
  text-align: left;
  font-size: 15px;
  background: rgb(0, 0, 0);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

md-block {
  text-align: left;
}